body{
  background-color: black;
}   

.main{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr;
}
.main-talk{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 12fr;
}

.main-talk2{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 7fr;

}

.section1{
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  color: white;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.section2{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  color: white;
  font-family: monospace;
}
.content-head-meet-sinjini{
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  padding-left:15px;
  padding-bottom: 5px;
}

.content-head{
  font-size: clamp(.5rem, 2.5vw, 1.5rem);
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 5px;
}

.content-head-docker{
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: bold;
  font-family: monospace;
}

.content-sub{
  padding-left: 15px;
  font-size: clamp(0.8rem, 1.2vw, 1rem); /* Min 0.8rem, scales with viewport width, max 1rem */
  line-height: 1.6; 
  text-align: justify;
  padding-bottom: 5px;
  padding-right: 15px;

}


.highlight{
  font-weight: bold;
  /*color: #718add;*/
  border-bottom: 3px solid #718add;
}

.highlight-purple{
 font-weight: bold;
 color: #718add;

}

.author-section{
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  grid-template-rows: 1fr;
 
}
.author-section-border{
  border-top: 2px solid rgba(113,138,221,0.5);
}
.footer-img-section{
  grid-column-start: 1;
  grid-column-end: 1; 
  padding:20px;
}

.footer-img{
  border-radius: 10%;
  height: 100px;
  width: 100px;
  padding: 5px;

}
.author-intro{
  color: white;
  padding-top: 24px;
  font-size: clamp(0.3rem, 0.9vw, 0.9rem);
  grid-column-start: 2;
  grid-column-end: 2;
  text-align:left;
}
.short-content{
  font-size: clamp(8px, 15px, 15px);
  color: grey;
}
.center{
  text-align: center;
}
.tree {
  --spacing: 1rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #718add;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -4);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #718add;
  border-width: 0 0 2px 2px;
}

.img-profile{
    border-radius: 10%;
    border: solid  2px #718add;
    height: 150px;
    width: 150px;
    padding: 5px;
}
.img-docker{
    height: 150px;
    width: 350px;
}

.img-docker-2 {
  height: 264px;
  width: 430px;
}

a{
  text-decoration:none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #718add ;
}

.no-bullets {
  list-style-type: none; /* Removes bullets */
  padding-left: 0; /* Removes the default indentation */
  margin: 0; /* Removes any default margin */
}
.code{
    font-size: clamp(1rem, 1.2vw, 1rem); /* Min 0.8rem, scales with viewport width, max 1rem */
  }



/* Responsive  */
@media screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto auto; /* Adjust rows to auto height */
  }
   .main-talk {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto auto; /* Adjust rows to auto height */
  }

  .main-talk2 {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: auto auto auto; /* Adjust rows to auto height */
  }


  .section1, .section2 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .section1 {
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .section2 {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .content-head-meet-sinjini {
    text-align: center;
  }
  img{
    height: 120px;
    width: 120px;
    /*margin-left: 10px;
    margin-bottom:10px;*/
    
    padding: 5px;
  }

  }
